<% provide(:title, "Owners") %>

<div class="page-header owner-header">
  <h1>Our Advice - Owners</h1>
</div>

<div class="row owners">
  <div class="span3">
    finger picture here
  </div>
  <div class="span9">
    <ul class="faq-owners unstyled">
      <li>What requirements does my property need to meet?</li>
      <li>Is it mandatory to have a pool?</li>
      <li>How should I take photos of my property?</li>
      <li>Should my property be insured?</li>
      <li>How should I maintain my property?</li>
      <li>When should I clean my property?</li>
      <li>When should I clean my pool?</li>
      <li>What type of furniture should my property have?</li>
      <li>How should I deal with a client that has a problem?</li>
      <li>How should I make successful check-ins/check-outs?</li>
    </ul>
  </div>
</div>