<% provide(:title, "Owners") %>

<div class="owners-page">
  <p class="lead owner-header">Owners</p>
  <div class="row">
    <div class="span8 owners-intro">
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
      professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
      consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
      literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
      of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
      This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
      line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged. It was
        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.</p>
    </div>
    <div class="span4 owners-contact">
      <%= render 'messages/new' %>
    </div>
  </div>
  <div class="row">
    <div class="span12 owners-invest">
      invest logos here
    </div>
  </div>
  <div class="row">
    <div class="span2 owners-icon">
       icon image here
    </div>
    <div class="span10 owners-faq-links">
      links to faq here
      <ul class="faq-owners unstyled">
        <li><a href="#q1">What requirements does my property need to meet?</a></li>
        <li><a href="#q2">Is it mandatory to have a pool?</a></li>
        <li><a href="#q3">How should I take photos of my property?</a></li>
        <li><a href="#q4">Should my property be insured?</a></li>
        <li><a href="#q5">How should I maintain my property?</a></li>
        <li><a href="#q6">When should I clean my property?</a></li>
        <li><a href="#q7">When should I clean my pool?</a></li>
        <li><a href="#q8">What type of furniture should my property have?</a></li>
        <li><a href="#q9">How should I deal with a client that has a problem?</a></li>
        <li><a href="#q10">How should I make successful check-ins/check-outs?</a></li>
        <li><a href="#q11">What type of location is ideal?</a></li>
        <li><a href="#q12">Is air conditioning mandatory?</a></li>
        <li><a href="#q13">What else could my property benefit from?</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12 owners-faq">
      faq content here
      <ul class="faq-owners unstyled">
        <li id="q1">
          What requirements does my property need to meet?
          <p>Please contact us to see if your property can be featured as a vacation rental.</p>
        </li>
        <li id="q2">
          Is it mandatory to have a pool?
          <p>The majority of our clients are families with children and the best way to keep
            the whole family entertained is to have a pool area. Our clients prefer a private
            pool but we will consider properties that have a community pool, especially when it
            is an apartment rental. </p>
        </li>
        <li id="q3">
          How should I take photos of my property?
          <p>
            <strong>Interior Photos</strong> <br>
            Put the camera in manual mode. Use a low speed, letting in light to the target. At
            the same time, use a low ISO. In order for the photos not to blur a tripod and/or
            an external trigger is helpful. If you do not have an external trigger just using
            the camera delay is suffice.
          </p>
          <p>
            <strong>Panoramic Photos</strong> <br>
            If you do not have a wide angle lens, you still have some options for taking
            panoramic photos. The easiest way is to use Photoshop. Before using this
            software, you must have at least taken two or three continuous pictures. You must
            always start the next picture where you finished the previous (or to be safe, a
            little before). We recommended using a tripod with horizontal rotation.
            <br>
            When you open Photoshop, you must click on "File / Automate / Photomerge" found
            in the top horizontal menu bar. It will open a window where you select the type of
            merge you want and the images that will work. Shade in all the images and then click
            accept. Photoshop automatically merges the photos. If the images are continuous your
            result will be good. However, it is advisable not to make panoramic
            photos files too big.
          </p>
          <p>
            <strong>Photo Editor</strong>   <br>
            There is a world beyond Photoshop. We recommend another program in from Adobe called
            Lightroom. However, there are free options, from software that comes with your
            camera to free software like Google Picasa & Gimp. If you are not quite decided
            on whether to spend money on a program without trying it, there are trials or demos
            for all versions that let you use them for a period of about 15-30 days.
          </p>
        </li>
        <li id="q4">
          Should my property be insured?
          <p>Yes. </p>
        </li>
        <li id="q5">
          How should I maintain my property?
          <p>
            Make sure the property is clean at all times, paying special attention to the
            bathrooms & linens.
          </p>
        </li>
        <li id="q6">
          When should I clean my property?
          <p>It should be clean before guest arrival and cleaned immediately after. </p>
        </li>
        <li id="q7">
          When should I clean my pool?
          <p>At least once a week, twice a week would be ideal.</p>
        </li>
        <li id="q8">
          What type of furniture should my property have?
          <p>
            You should have furniture that is not overly used or shows any signs of wear and tear.
          </p>
        </li>
        <li id="q9">
          How should I deal with a client that has a problem?
          <p>
            It is normal for small incidents to occur during the holiday. If the customer called
            because an incident has occurred (power outage, appliance stops working, does not
            know how an apparatus works ...) we must resolve it as quickly as possible. If the
            client feels cared for, the importance of the problem will be less. We recommend
            having someone available for with a flexible schedule to be on call. However, if it
            occurs on a Sunday or a bank holiday, it  may be difficult to find someone to fix
            the problem. If this occurs, it is best to go to the client and explain the
            situation and you hope to have it solved as soon as possible. If we spend more than
            24 hours to fix the problem and pay no attention to the customer, the situation can
            be very uncomfortable for all involved. The customer will feel neglected. Do not
            forget a basic rule of marketing - 3/11. A satisfied customer will recommend your
            property to 3 friends while a dissatisfied client will complain to 11. In
            addition, this business is purely online, so a client can easily write
            negative comments for potential guests to see.
          </p>
        </li>
        <li id="q10">
          How should I make successful check-ins/check-outs?
          <p>
            <strong>Check In</strong><br>
            Guests will always give an estimated arrival time. Please be available at that time
            and be prepared for delays unanticipated delays (flight delays, problems with
            the rental car, traffic, getting lost, etc).
            <br>
            If you have stated that it is difficult to access your property, it would be best
            to meet the client at easy access point and guide them from there. This way neither
            party has to wait. I recommend that you ask the customer to call or send a text
            message when they pass some reference point (city, town ...). We recommend asking
            guests to notify you when they are about a half hour away.
            <br>
            When the customer arrives, everything should be ready. We recommend that you explain
            to the client how to use the appliances to prevent the client from calling later.
            Alternatively, you can prepare a summary of how it works in a dossier.
            <br>
            After the house tour, proceed to ask the client to pay any outstanding fees they
            may have. Bravo Vacation Rentals always asks for a percentage of the total rental
            to confirm the reservation. The remaining amount of the deposit the customer must
            pay 8-4 weeks before arrival or on arrival as you deem appropriate.
            <br>
            A good check-in time should be stipulated between 3 and 4 pm.
          </p>
          <p>
            <strong>Check Out</strong><br>
            If you required a deposit, the refund of the deposit will be made on departure or
            within a maximum of one week after the guest's departure. It is your decision
            if you want to inspect the property before or after a guest's departure. It would
            be best to check before departure, especially if you have other guests arriving
            that day or the day after.
            <br>
            We recommend that check out be around 10am. This allows you to have time to clean
            the property and have everything ready for the next guests.
          </p>
        </li>
        <li id="q11">
          What type of location is ideal?
          <p>
            We recommend that beach villa rentals be no further than 5km (3mi) to the beach.
            The most profitable villas are those with spectacular sea views and are in a quiet
            neighborhood. Villas located in a popular area will most likely always have guests
            book their villa. Detached properties are more desirable than townhouses.
            <br>
            Rural properties should be located near a place of interest, such as a lake, ski
            area, national parks, monuments, etc.
            <br>
            Apartment properties centrally located or near popular tourist attractions
            have a better chance of being rented than others that are not centrally located.
            <br>
            It is important that all properties are near popular tourist attractions. We also
            recommend that no property be more than 3-5 miles away from supermarkets or
            restaurants.
          </p>
        </li>
        <li id="q12">
          Is air conditioning mandatory?
          <p>
            Having air conditioning is being asked for more often than not. This could be a
            potential deal breaker for some guests.
          </p>
        </li>
        <li id="q13">
          What else could my property benefit from?
          <p>
            Any extra can be a benefit to the guest - it could make your property stand out
            from the rest. Highly valued extras could be barbecues, swimming pools, jacuzzis,
            a nice garden and private parking.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>