@import "bootstrap";

/* @import "bootstrap-responsive";  */

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

$villaOrange: #FFA500;

$bvrYellow: #e3b905;

$villaBrightBlue: #2F96B4;

$villaDarkBlue: #004151;

$villaBorderBlue: #79bbcb;

$villaBgBlue: #dbf7f8;

$darkGold: #977b32;

$homeTitleBlue: #397d88;

$bvrBlue: #0989d4;

$captionBlue: #015368;

$lightContactBlue: #F0F8FF;

$brightAboutYellow: #fed585;

$darkChoc: #533800;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  height: 100%;
}

a {
  color: $bvrYellow;
}

body {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  height: 100%;
}

.lead {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

p, td {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
  Tahoma, sans-serif;
}

#wrap {
  height: auto !important;
  height: 100%;
/* Negative indent footer by it's height */
  margin: 0 auto -200px;
  min-height: 100%;
}

.input-append {
  button.add-on {
    height: 30px;
  }
}

/* Header */
header {
  padding: 10px;
  #rental-logo {
    float: left;
    margin-top: -5px;
    text-align: center;
    width: 200px;
  }
  nav {
    float: right;
    clear: right;
    ul.nav {
      margin-bottom: 0;
      li {
        display: inline-block;
        font-size: 20px;
        padding-right: 15px;
        a {
          color: #000000;
          &:hover {
            background: none;
            color: $bvrBlue;
            text-decoration: underline;
          }
        }
        a.active {
          color: $bvrBlue;
          text-decoration: underline;
        }
      }
    }
  }
}

/* Home page styles */

.rental-home-top {
  margin-left: 10px;
  padding: 5px;
  .home-filter-box {
    background: url("whiteopacity.png") repeat;
    height: 330px;
    margin: -350px 0 0 30px;
    padding: 10px;
    position: relative;
    width: 238px;
    z-index: 300;
    .rental-home-map {
      background: transparent image-url('map.png') no-repeat right top;
      height: 104px;
      margin: 30px auto 0 auto;
      text-align: center;
      width: 165px;
      .lead {
        padding-top: 30px;
      }
    }
    .rental-home-filter {
      background: #F2F3F4;
      border: 1px solid #000;
      margin: 0 auto;
      padding: 7px;
      position: relative;
      width: 215px;
      z-index: 100;
      form {
        margin: 0 auto;
        position: relative;
        width: 100%;
        p {
          margin: 0;
        }
        small {
          color: $bvrBlue;
        }
        select {
          border: #333 1px solid;
          height: 24px;
          margin-bottom: 5px;
          padding: 0;
          width: 210px;
        }
        select.rental-select {
          border-color: #000000;
          color: #000000;
          font-size: 16px;
          line-height: 18px;
        }
        select#sleeps_gt, select#bedrooms_gt {
          display: inline;
          width: 100px;
        }
        select#bedrooms_gt {
          margin: -58px 0 0 110px;
        }
        .input-append {
          margin-bottom: 10px;
          *display: inline;
        }
      }
      .home-search-btn {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  #home-slideshow {
    height: 350px;
    img {
      height: 350px;
      width: 940px;
    }
  }
}

.rental-home-row-2 {
  margin-left: -30px;
  padding: 20px 0 0 0;
  .top-destinations-home {
    .lead {
      color: #696969;
      letter-spacing: 3px;
      margin-bottom: 3px;
      padding-left: 8px;
    }
    img.home-travel-img {
      width: 330px;
    }
    .home-travel-text {
      width: 200px;
      .lead {
        padding: 0;
      }
      h4 {
        margin: 0;
        a {
          color: #333333;
        }
      }
    }
  }
  hr {
    background: #000000;
    border: none;
    box-shadow: 3px 3px 3px #888888;
    color: #000000;
    margin: 0 0 10px 0;
    width: 350px;
  }
  .right-home-div {
    border-left: 1px solid #d3d3d3;
    padding: 5px;
    width: 369px;
    .season-break {
      background: #ffffff url('seasons.jpg') no-repeat center;
      width: 365px;
      .lead {
        color: #696969;
        letter-spacing: 3px;
        margin-bottom: 3px;
        padding-left: 8px;
        text-align: center;
      }
      .unstyled {
        padding-top: 120px;
      }
    }
  }
}

.featured-rentals {
  background: #ebe9ea;
  -moz-box-shadow:    3px 3px 5px 0 #cac8c9;
  -webkit-box-shadow: 3px 3px 5px 0 #cac8c9;
  box-shadow:         3px 3px 5px 0 #cac8c9;
  margin: 10px 0 10px 0;
  padding: 5px;
  .lead {
    margin-bottom: 5px;
  }
  a {
    color: $bvrBlue;
  }
  .thumbnails {
    padding-left: 10px;
    li {
      color: #717171;
      float: left;
      margin-bottom: 5px;
      margin-left: 5px;
      .thumbnail {
        border: none;
        box-shadow: none;
        padding: 0 0 5px 0;
        width: 260px;
        li {
          border: none;
          float: left;
          margin: 0;
          .clear-fp {
            clear: both;
          }
        }
        a {
          img {
            float: left;
            height: 65px;
            width: 80px;
          }
        }
        .home-fr-info {
          float: right;
          width: 175px;
          p {
            margin: 0;
          }
        }
      }
    }
    li:first-child {
      border-right: 1px solid #6e6c6d;
      color: #717171;
      float: left;
      margin-left: 10px;
      padding-right: 5px;
      .thumbnail {
        border: none;
        box-shadow: none;
        width: 320px;
        li {
          border: none;
          margin-left: 0;
          .clear-fp {
            float: left;
            padding-left: 5px;
          }
        }
        a {
          img {
            float: left;
            height: 205px;
            width: 320px;
          }
        }
        .home-fr-info {
          float: none;
          width: 100%;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

.shout-out {
  background: $brightAboutYellow;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  h2 {
    line-height: 28px;
    padding: 5px;
    text-shadow:
        -1px -1px 0 #fff,
      1px -1px 0 #fff,
        -1px 1px 0 #fff,
      1px 1px 0 #fff;
    a {
      color: $bvrBlue;
      &:hover {
        color: $darkChoc;
        text-decoration: none;
      }
    }
  }
}

/* Destination Styles */

.destination-show {
  .map_container {
    border: none;
    clear: both;
    height: 270px;
    padding: 0;
    width: 400px;
    #map {
      .gmaps4rails_map {
        height: 270px;
        width: 400px;
      }
    }
  }
  .span5 {
    width: 400px;
  }
  img.dest-img {
    height: 200px;
    width: 550px;
  }
  .nav-tabs{
    background: #000000;
    border: none;
    li {
      border: none;
    }
    li.active {
      a {
        color: #000000;
      }
    }
    a {
      border: none;
      border-radius: 0;
      color: #ffffff;
      padding-bottom: 5px;
      padding-top: 5px;
      &:hover {
        background: #EEEEEE;
        border: none;
        border-radius: 0;
        color: #000000;
      }
    }
  }
  ul.thumbnails {
    li.span3{
      border: none;
      .thumbnail {
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        .lead {
          margin: 0;
          padding: 0 5px 0 5px;
          a {
            color: #ffffff;
            font-weight: lighter;
          }
        }
        ul {
          padding: 0 5px;
        }
        h3 {
          font-weight: 100;
          margin: 0;
        }
      }
    }
    li.zebra {
      background: #000000;
      color: #ffffff;
    }
    li.zebra-even {
      background: #ffffff;
      color: #000000;
      .thumbnail .lead a {
        color: #000000;
      }
    }
  }
}

.dest-index {
  .lead {
    margin-bottom: 5px;
    margin-left: 0;
    padding-top: 15px;
    a {
      color: $bvrBlue;
      text-decoration: none;
      &:hover {
        color: #696969;
      }
    }
  }
  a {
    color: $bvrBlue;
  }
  .dest-index-record-wrap {
    border: 1px solid $bvrBlue;
    clear: both;
    margin: 0 auto;
    overflow: hidden;
  }
  .span7 {
    border-bottom: 1px solid $bvrBlue;
    width: 548px;
    img {
      height: 200px;
      width: 700px;
    }
  }
  .destination-show-link {
    background: transparent image-url('whiteopacity.png');
    margin: -40px 0 0 25px;
    padding: 5px;
    position: relative;
    ul {
      clear: both;
      color: 000;
      font-size: 16px;
      overflow: hidden;
      li {
        background: none;
        display: inline;
        padding: 0 10px;
      }
      li:first-child {
        border-right: 1px solid #000;
        margin-left: 0;
      }
    }
    p.features-destinations {
      clear: both;
      font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
      padding: 0 5px;
    }
  }
  .zebra-index {
    background: #eee;
    border-bottom: 1px solid $bvrBlue;
    color: #333;
    height: 190px;
    padding: 5px;
    width: 220px;
  }
  .zebra-even {
    background: $brightAboutYellow;
    color: $darkChoc;
  }
  .thumbnails {
    margin-bottom: 0;
    padding: 0 5px 5px 5px;
    li {
      background: #ffffff;
      margin-bottom: 10px;
      margin-left: 5px;
      width: 253px;
    }
    li:first-child {
      margin-left: 20px;
    }
  }
  .thumbnail {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    p {
      padding-left: 5px;
      a {
        color: #696969;
      }
    }
    .unstyled {
      padding-left: 5px;
    }
    img {
      height: 190px;
      width: 255px;
    }
  }
  p.span10 {
    margin-bottom: 0;
  }
  h5 {
    margin: 5px 0 0 5px;
  }
  .destination-index-form {
    background: #f7f7f7;
    border: 1px solid #888888;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    select {
      border-color: #888888;
      border-radius: 2px;
      color: #888;
      font-size: 12px;
      height: 30px;
      line-height: 12px;
      padding: 5px;
      width: 118px;
    }
    legend {
      border: none;
      font-size: 16px;
      margin: 0;
      text-align: center;
    }
    label {
      font-size: 12px;
      font-weight: bolder;
      margin: 0;
    }
    fieldset {
      legend {
        margin-bottom: -10px;
      }
      label {
        margin-top: 10px;
        text-align: left;
      }
      label.checkbox {
        font-weight: normal;
        margin-top: 0;
        text-align: left;
      }
    }
  }
}
.destination-form-photo {

}


/* Rental Styles */
.rentals-index {
  .rental-index-record {
    border-bottom: 1px solid $bvrYellow;
    margin-left: 0;
    padding: 0 0 20px 4px;
  }
  .lead {
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 15px;
    a {
      color: $bvrBlue;
      text-decoration: none;
      &:hover {
        color: #696969;
      }
    }
  }
  a {
    color: $bvrBlue;
  }

  .span7 {
    margin-left: 0;
    img {
      height: 200px;
      width: 700px;
    }
  }
  .zebra-index {
    background: #eee;
    color: #333;
    height: 190px;
    padding: 5px;
    width: 220px;
  }
  .zebra-even {
    background: $brightAboutYellow;
    color: $darkChoc;
  }
  .destination-index-form {
    background: #f7f7f7;
    border: 1px solid #888888;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    select {
      border-color: #888888;
      border-radius: 2px;
      color: #888;
      font-size: 12px;
      height: 30px;
      line-height: 12px;
      padding: 5px;
      width: 118px;
    }
    legend {
      border: none;
      font-size: 16px;
      margin: 0;
      text-align: center;
    }
    label {
      font-size: 12px;
      font-weight: bolder;
      margin: 0;
    }
    fieldset {
      legend {
        margin-bottom: -10px;
      }
      label {
        margin-top: 10px;
        text-align: left;
      }
      label.checkbox {
        font-weight: normal;
        margin-top: 0;
        text-align: left;
      }
    }
  }
}


.villa-show {
  .map_container {
    clear: both;
    height: 200px;
    margin: 0 0 15px 0;
    width: 905px;
    #map {
      .gmaps4rails_map {
        height: 200px;
        width: 900px;
      }
    }
  }
  .lead {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-bottom: 6px;
  }
  .villa-blue-box {
    background: $villaBgBlue;
    margin-top: 13px;
    padding: 10px;
    .features-list {
      margin-bottom: 0;
    }
  }
  .villa-description {
    margin: 15px 0 15px 0;
  }
  .villa-gray-box {
    background: #eeeeee;
    padding: 10px;
  }
  .pics {
    height:  390px;
    width:   940px;
    padding: 0;
    margin:  0 auto;
    overflow: hidden;
    img {
      width:  940px;
      height: 390px;
      top:  0;
      left: 0
    }
    a {
      width:  940px;
      height: 390px;
    }
  }
  #banner {
    background: #000000;
    margin: -30px 0 0 -2px;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 4000;
    width: 470px;
    .activeSlide {
      color: $villaBorderBlue;
    }
    a {
      color: #ffffff;
      display: block;
      float: left;
      font-family: "Arial Narrow", Arial, sans-serif;
      font-size: 1.2em;
      padding: 0 3px 0 3px;
      &:hover {
        color: $villaBgBlue;
        text-decoration: none;
      }
    }
  }
  .span3 {
    margin-left: 7px;
    width: 233px;
  }
  .contact-villa-form {
    background: $grayMediumLight;
    border: 1px solid #000000;
    color: #999;
    margin: 0 auto;
    position: relative;
    z-index: 3000;
    h3 {
      background: #000000;
      color: #ffffff;
      font-size: 1.3em;
      font-weight: 100;
      line-break: 30px;
      margin: 0;
      text-align: center;
    }
    form.form-horizontal {
      padding: 5px;
      margin-bottom: 0;
      .control-group {
        margin-bottom: 4px;
        label{
          color: #000000;
          font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
          margin-bottom: 0;
          padding-top: 0;
          text-align: left;
          width: 70px;
        }
        .controls {
          margin-left: 70px;
          input, textarea {
            border: 1px solid #000000;
            width: 136px;
          }
          input[type="text"], input[type="email"] {
            background: #a9a9a9;
            color: #ffffff;
            font-size: 12px;
            height: 15px;
          }
        }
      }
    }
    .whatsapp-rental {
      color: #000;
      margin: 0 auto;
      padding: 0 0 0 10px;
    }
  }
  .more-rentals {
    margin: 0 auto;
    padding: 10px 0 0 0;
    a {
      color: $bvrBlue;
      font-weight: bold;
    }
    .thumbnails {
      margin: 0 auto;
      position: relative;
      width: auto;
      .span3 {
        margin: 0 auto;
        position: relative;
        .thumbnail {
          border: none;
          box-shadow: none;
          margin: 0 auto;
        }
      }
    }
  }
}

/* Guides Styles */


.guide-show {
  .guide-img {
    height: 200px;
    width: 800px;
  }
  .nav-tabs {
    border-right-color: $bvrYellow;
    li {
      color: $bvrYellow;
      font-size: 16px;
      padding-right: 5px;
      a {
        border: none;
        color: $bvrBlue;
        font-size: 14px;
        padding: 3px;
        text-align: right;
        &:hover {
          background: none;
          border: none;
          font-weight: bold;
        }
        &:active {
          background: none;
          border: none;
          font-weight: bold;
        }
      }
    }
    li.active a {
      color: #555;
      font-weight: bold;
    }
    .pdf {
      background: $bvrBlue;
      border-radius: 10px;
      color: #ffffff;
      font-size: 12px;
      margin-right: 3px;
      padding: 3px;
      text-align: center;
    }
  }
}


/* Contact Styles */

.contact-us {
  .contact-mobile {
    background: $lightContactBlue;
    clear: right;
    margin-left: 0;
    padding: 5px;
    .find-us {
      border-bottom: 1px solid #cccccc;
      font-weight: bold;
      margin: 15px 0 0 0;
    }
    .lead {
      border-bottom: 1px solid #cccccc;
      margin-bottom: 0;
    }
    .phone-num {
      font-size: 22px;
      padding: 5px 0;
      small {
        font-size: 16px;
      }
    }
  }
  .contact-us-form {
    background: $bvrBlue;
    margin-left: 10px;
    form.contact-form {
      background: #ffffff;
      .control-group {
        margin-bottom: 2px;
        label {
          width: 100px;
        }
        .controls {
          margin-left: 110px;
          input {
            height: 15px;
            padding: 2px;
          }
        }
      }
    }
  }
  .owner-contact {
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    p {
      text-align: left;
    }
  }
  .bcard-contact {
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    p {
      text-align: left;
    }
  }
  .socialmedia {
    border: 1px solid $bvrBlue;
    margin: 10px 10px 0 0;
    h3 {
      background: $bvrBlue;
      color: #ffffff;
      font-weight: lighter;
      margin: 0;
      padding-left: 5px;
    }
    .social-box {
      padding: 5px;
    }
  }
  .faq-contact {
    margin: 10px auto;
  }
}


/* Owners Page */
.owners-page {
  .owner-header {
    border-bottom: 1px solid #dcdcdc;
  }
  .owners-intro {
    background: #eee;
    padding: 10px;
    width: 600px;
  }
  .owners-contact {
    background: $lightContactBlue;
    form {
      h3 {
        text-align: center;
      }
      .control-group {
        margin-bottom: 10px;
        label {
          padding-top: 0;
          width: 80px;
        }
        .controls {
          margin-left: 90px;
          input {
            height: 15px;
            padding: 2px;
            width: 170px;
          }
          textarea {
            width: 165px;
          }
        }
      }
      .actions {
        margin-top: 10px;
      }
    }
  }
  .owners-invest {
    background: #eee;
    margin-top: 20px;
    padding: 10px;
  }
  .faq-owners {
    color: $bvrBlue;
    font-size: 1.1em;
    p {
      color: #ccc;
    }
    a {
      color: $bvrBlue;
    }
  }
}

/* Search results */
.search-results {
  li {
    margin-bottom: 15px;
    a {
      color: $bvrBlue;
      font-size: 16px;
    }
  }
}

/* About Us */
.about-us {
  .about-us-header {
    background: transparent image-url('about-us-header.jpg') no-repeat center top;
    -moz-box-shadow:    3px 3px 5px 0 #cac8c9;
    -webkit-box-shadow: 3px 3px 5px 0 #cac8c9;
    box-shadow:         3px 3px 5px 0 #cac8c9;
    height: 405px;
    margin: 0 0 10px 0;
    .about-filter {
      background: transparent image-url('whiteopacity.png');
      height: 300px;
      width: 270px;
      p {
        padding: 5px;
      }
      h3 {
        color: $bvrBlue;
        line-height: 23px;
        padding: 5px;
        text-shadow:
            -1px -1px 0 #000,
          1px -1px 0 #000,
            -1px 1px 0 #000,
          1px 1px 0 #000;
      }
      .about-us-form {
        background: $brightAboutYellow;
        border: 1px solid #333;
        bottom: 0;
        margin: 0 auto;
        padding: 5px;
        form {
          margin: 0 auto;
          text-align: center;
          width: 220px;
          label {
            color: $darkChoc;
            font-size: 18px;
            font-weight: lighter;
            margin: 0 0 3px 0;
          }
        }
      }
    }
  }
  .about-us-sidebar {
    background: transparent image-url('about-us-sidebar.jpg') no-repeat center top;
    height: 512px;
    h3 {
      line-height: 23px;
      padding: 10px;
      margin: 110px 0 0 0;
      text-shadow:
          -1px -1px 0 #000,
        1px -1px 0 #000,
          -1px 1px 0 #000,
        1px 1px 0 #000;
      a {
        color: #ffffff;
        &:hover {
          color: $brightAboutYellow;
          text-decoration: none;
        }
      }
    }
  }
  .about-us-bottom {
    background: #e9e9e9;
    margin: 10px 0;
    padding: 10px;
    p {

    }
  }
}

/* footer */
#push {
  height: 200px;
}

footer {
  background: #EEEEEE;
  height: 170px;
  margin: 10px 0 0 0;
  padding: 10px;
  h4 {
    color: #333;
    font-weight: lighter;
    text-transform: uppercase;
  }
  a {
    color: $bvrBlue;
  }
  .span12 {
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
  }
  .span4 {
    border-right: 1px solid $bvrBlue;
    margin-left: 19px;
  }
  .foot-sm {
    border: none;
  }
}

/* Misc Styles */

.orangeText {
  color: $villaOrange;
}

.brightBlueText {
  color: $villaBrightBlue;
}

.darkBlueText {
  color: $villaDarkBlue;
}

.goldText {
  color: $darkGold;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.no-left-margin {
  margin-left: 0px;
}

.minus-20-left-margin {
  margin-left: -20px;
}

.left-10-margin {
  margin-left: 10px;
}

.left-5-margin {
  margin-left: 5px;
}

.right-5-margin {
  margin-right: 5px;
}

.nickname {
  display: none;
}

.font14 {
  font-size: 14px;
}

.padtop15 {
  padding-top: 15px;
}

.blackborder {
  border: 1px solid #000000;
}

.left-shadow {
  background: transparent image-url('left-shadow.png') repeat-y left top;
  margin: 0 auto;
  width: 1050px;
}

.right-shadow {
  background: transparent image-url('right-shadow.png') repeat-y right top;
  margin: 0 auto;
  width: 1030px;
}
